@charset "UTF-8";


body{
	margin:0;
	padding:0;
}

#header {
	width:1000px;
	height:700px;
	padding:20px;
}

input[type] {
	margin:5px;
}

.div1 {
	padding:5px 0px 5px 0px;
	border-top:1px solid #bfbfbf;
}

.label-1 {
	width:110px;
	display:inline-block;
	height:60px;
	line-height:60px;
}

#profile, button, #tel {
	font-size:17px;
}

.div1-adr {
	display:inline-block;
	width:400px;
	margin:15px 0px 0px 0px;
}

.div1-adr #adr-1 {
	width:600px;
}

.label-2 {
	vertical-align: top;
	height:90px;
}

#header textarea {
	display:inline-block;
	width:800px;
	height:120px;
	margin:15px 0px 15px 0px;
}

#foot-button {
	border-top:1px solid #bfbfbf;
	margin:00px 0px 20px 0px;
	padding:20px 0px 20px 0px;
	text-align:center;
}

#foot-button button {
	width:100px;
	height:40px;
}