<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/javaStudy/workspace_front/mysite/assets/css/mysite.css">
<link rel="stylesheet" href="/javaStudy/workspace_front/mysite/assets/css/borad.css">
</head>
<body>
	<div id="wrap">
		<div id="header" class="clearfix">
			<h1>Mysite</h1>
			<ul>
				<li><a href="#">로그인</a></li>
				<li><a href="#">회원가입</a></li>
			</ul>	
		</div>
	<!-- //header -->
		<div id="nav">
				<ul class="clearfix">
					<li>입사지원서</li>
					<li>게시판</li>
					<li>갤러리</li>
					<li>방명록</li>
				</ul>
			</div>
			
		<!-- //nav -->
		<div id="contents" class="clearfix">
			<div id="aside">
				<h2>게시판</h2>
				<ul>
					<li>일반 게시판</li>
					<li>댓글 게시판</li>
					<li>첨부 게시판</li>
				</ul>
			</div>
		<!-- //aside -->
		
			<div id="main-content">
				<div id="main-content-header">
					 <h3>일반게시판</h3>
				</div>
				<!-- main-content-header -->
				<div id="main-content-body">
					<div class="form-group">
						<label class="form-title" for="sel-borad">게시판선택</label>
						<select id="sel-borad">
							<option>선택해 주세요</option>
							<option>공지사항</option>
							<option>일반게시판</option>
							<option>익명게시판</option>
						</select>
					</div>
					
					<div class="form-group">
						<label class="form-title" for="txt-title">제목</label>
						<input id="txt-title" type="text">
					</div>
					
					<div class="form-group">
						<label class="form-title" for="txt-pwd">비밀번호</label>
						<input id="txt-pwd" type="password">
					</div>
					
					<div class="form-group">
						<span class="form-title">공개범위</span>
						<label for="p01">본인</label>
						<input id="p01" type="radio" name="permit">
						<label for="p02">로그인회원</label>
						<input id="p02" type="radio" name="permit">
						<label for="p03">친구</label>
						<input id="p03" type="radio" name="permit">
						<label for="p04">로그인회원</label>
						<input id="p04" type="radio" name="permit">
					</div>
					
					<div class="form-group">
						<span class="form-title">적용범위</span>
						<label for="c01">댓글허용</label>
						<input id="c01" type="checkbox" name="allow">
						<label for="c02">답글허용</label>
						<input id="c02" type="checkbox" name="allow">
						<label for="c03">좋아요허용</label>
						<input id="c03" type="checkbox" name="allow">
					</div>
					
					<div class="form-group">
						<textarea id="txt-content"></textarea>	
					</div>
					
					<div class="form-group">
						<label class="form-title" for="f01">첨부파일</label>
						<input id="f01" type="file" name="file">
					</div>
				</div>
				<div id="main-content-foot">
					<button class="btn">등록</button>
					<button class="btn">초기화</button>
				</div>
			</div>
		</div>
		
	<!-- //contents -->
	
		<div id="footer">
			<div>Copyright ⓒ 2020 황일영 All right reserved</div>
		</div>
	<!-- //footer -->
	
	</div>
<!-- //wrap -->
</body>
</html>